{% extends 'portfolio/base.html' %}
{% block content %}

  <h1 id="blogtitle" class="font-weight-bold text-center">Blog Posts</h1>
  <div class="text-center mb-5">Bruce has written {{ posts.count }} post{{posts.count|pluralize}}</div>

  {% for post in posts %}
  <div class="row justify-content-center my-3">
    <div class="col-md-10">
      <a href="{% url 'blog:detail' post.id %}">
        <h2>{{post.title}}</h2>
      </a>
      <h5 class="text-muted">{{post.date|date:'M d Y'|upper}}</h5>
      <h4>{{post.post|striptags|truncatechars:100}}</h4>
    </div>
  </div>
  {% endfor %}

{% endblock %}
